@import url('inputRange.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
      font-family: spotify-circular;
      src: url('/fonts/CircularSpotify-Latin-Book.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: spotify-circular;
      src: url('/fonts/CircularSpotify-Latin-Bold.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: spotify-circular;
      src: url('/fonts/CircularSpotify-Latin-Black.woff2') format('woff2');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }

    body {
      @apply font-primary;
    }

    a {
      @apply text-white hover:underline
    }
}

@layer components {
  .header {
    @apply absolute flex h-16 w-full items-center justify-end
  }
  .aside {
    @apply hidden h-screen min-w-[15rem] overflow-y-scroll border-r
    border-gray-900 p-5 pb-36 text-sm text-gray-400 scrollbar-hide md:block
  }
  .user-profile {
    @apply absolute mx-3 flex w-40 cursor-pointer items-center justify-between space-x-2
    rounded-full bg-black p-0.5 pr-2 text-sm text-white opacity-90 hover:opacity-80
  }
  .player-btn {
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-100 ease-out
  }
  .song {
    @apply grid cursor-pointer md:grid-cols-2 grid-cols-3 rounded-md py-4 px-2 text-neutral-400 hover:bg-zinc-800 hover:text-white
  }
  .player {
    @apply grid h-24 grid-cols-3 bg-neutral-900 px-2 text-xs text-white md:px-8 md:text-base
  }
}

@layer utilities {
  .gradient-purple {
    @apply bg-gradient-to-b from-stone-800 to-black
  }
}

